body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#outter {
	width:960px;
	margin:0px auto;
	background:#efefef;
}
#title-area {
	background:#115274;
	width:100%;
}
#title-headline {
	width:100%;
	padding:35px 0 25px 0;
	text-align:center;
	color:#fff;
	font-size:72px;
	font-family:Impact,sans-serif;	
}
#title-sub {
	width:100%;
	padding:10px;
	text-align:center;
	color:#fff;
	font-size:20px;
	font-family:Impact,sans-serif;	
}
#content-area {
	width:100%;
}
#content-explain {
	display:inline;
	width:700px;
}
#content-input {
	width:100%;
	border:1px solid black;
}
#content-reps-holder {
	width:100%;
}
.rep {
	text-align:center;
	height:240px;
	width:200px;
	background:#d43e2d;
}
.rep-pic {
	display:inline-block;
	margin:10px 0 10px 0;
	width:112px;
	height:106px;
	background:#4d2e2b;
}
.rep-name {
	width:100%;
	padding:10px 0 0px 0;
	text-align:center;
	color:#fff;
	font-size:24px;
	font-family:Impact,sans-serif;
}

.rep-title {
	width:100%;
	padding:10px 0 0px 0;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-family:Impact,sans-serif;
}

.rep-phone {
	width:100%;
	padding:0px 0 0 0;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-family:Impact,sans-serif;
}
#content-status-holder {
	width:100%;
	color:#115274;
	text-align:center;
	font-size:48px;
	font-family:Impact,sans-serif;
}
#content-spinner {
	display:inline-block;
	width:32px;
	height:48px;
	background:url('ajax-loader.gif') no-repeat center center;
}







