<div id="outter">
	<div id="title-area">
		<div id="title-headline">THE CALL WALL</div>
		<div id="title-sub">CALLING YOUR REPRESENTATIVE SHOULDN'T BE AN A B CONVERSATION.</div>
	</div>
	<div id="content-area">
		<div id="content-explain">
			<p>ENTER YOUR PHONE NUMBER AND ZIP CODE</p>
			<p>WE GENERATE A LIST OF YOUR REPRESENTATIVES</p>
			<p>WE CONECT YOU, AND YOU SPEAK YOUR MIND</p>
			<p>SHARE YOUR CONVERSATION FOR YOUR FELLOW CITIZENS TO HEAR</p>
		</div>
		<div id="content-input">
			<form action="/" id="searchform">
				<input type="text" name="zip" placeholder="94114" id="search-zip" />
				<input type="text" name="phone" placeholder="415-555-1234" id="phone-zip" />
			</form>
		</div>
		<div id="content-reps-holder">
			<div class="rep">
				<div class="rep-pic"></div>
				<div class="rep-name">JOHN DOE</div>
				<div class="rep-title">This is John Does title</div>
				<div class="rep-phone">
					<a href="#" class="rep-phone">415-555-5555</a>
				</div>
				<div class="rep-phone">
					<a href="#" class="rep-phone">415-555-5555</a>
				</div>
			</div>
		</div>
		<div id="content-status-holder">
			<div id="content-status-message"><div id="content-spinner"></div>MAKING CALLS</div>
		</div>
	</div>
</div>