<div id="outter">
	<div id="title-area">
		<div id="title-headline">THE CALL WALL</div>
		<div id="title-sub">AN APP TO MAKE CALLING YOUR REPRESENTATIVE COMPLETELY TRANSPARENT. POWERED BY <a href="http://www.speek.com" target="_blank">SPEEK</a></div>
	</div>
	<div id="content-area">
		<div id="content-explain">
			<div class="content-explain-box"><p>WE CONNECT YOU TO <br>YOUR REPRESENTATIVE</p></div>
			<div class="content-explain-box"><p>SPEAK YOUR MIND</p></div>
			<div class="content-explain-box"><p>SHARE YOUR CONVERSATION</p></div>
		</div>
		<div id="content-input">
			<form action="/" id="searchform">
				<div class="input-holder">
					<p>ENTER YOUR ZIP TO START</p>
					<input type="text" name="zip" maxlength="5" placeholder="94114" class="cta-input" id="search-zip" />
				</div>
				<div class="input-holder">
					<p>YOUR PHONE NUMBER (WE WON'T SHARE)</p>
					<input type="text" name="phone" maxlength="12" placeholder="415-555-1234" class="cta-input" id="phone-zip" />
				</div>
				<input name="submit" type="submit" id="main-submit">
			</form>
		</div>
		<div id="content-reps-holder">
			<div class="rep">
				<div class="rep-pic"></div>
				<div class="rep-name">JOHN DOE</div>
				<div class="rep-title">This is John Does title</div>
				<div class="rep-phone">
					<a href="#" class="rep-phone">415-555-5555</a>
				</div>
			</div>
		</div>
		<div id="content-status-holder">
			<div id="content-status-message"><div id="content-spinner"></div>MAKING CALLS</div>
		</div>
	</div>
</div>
